<h1 class="page-header text-center">MindScape</h1>


<div class="jumbotron">
  <h1>Who we are</h1>
  <p class="lead">
MindScape was created with two things in mind: We wanted a platform for people to be able to ask any questions
they had on their mind, and a place for those questions to be answered.
  </p>
  <p class="lead">
The great thing about MindScape is that there is no bias in what questions can be asked and there is no filter.
This site is fully open to anyone to use and no one will be discriminated against.
  </p>

</div>
