  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="nav" class="navbar-brand" href="/">MindScape</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li> {{#link-to 'questions'}}Questions{{/link-to}}</li>
          <li> {{#link-to 'new-question'}}New Question{{/link-to}}</li>
          <li> {{#link-to 'about'}}About{{/link-to}}</li>

        </ul>
      </div>
    </div>
  </nav>
<div class="container">
{{outlet}}
</div>


EmberJS Code Review
Your project:

For this project, you will make a question and answer message board. The idea is that a user can submit a question and other users can respond with answers.

Here are the features to include:

Allow users to add, edit and delete questions. Question properties should include question, author and description.
Allow users to add answers for a question. Answers should be added and viewed on the same page as the question they respond to.
Allow users to delete answers.

Use the application template to wrap all of your pagesAfter your final review, submit your repo link to the Ember Code Review on Epicenter.
